Service status is Active, but rabbitmq node status is nxdomain

Rabbitmq is deployed on single node, running ok before.
but In a certain period of time after the news of concurrent operation, encounter a strange phenomenon.
and one queue missed , it's client keepalive failured, other clients seems to running ok.
## the strange phenomenon
rabbitmq.service is Running, rabbitctl node status is nxdomain
```
[root@wlan101 ~]# systemctl status rabbitmq-server.service
● rabbitmq-server.service - RabbitMQ broker
   Loaded: loaded (/usr/lib/systemd/system/rabbitmq-server.service; enabled; vendor preset: disabled)
   Active: active (running) since Mon 2018-02-26 11:11:31 CST; 1 weeks 2 days ago
 Main PID: 2390 (beam.smp)
   Memory: 116.1M
   CGroup: /system.slice/rabbitmq-server.service
           ├─2390 /usr/lib64/erlang/erts-5.10.4/bin/beam.smp -W w -K true -A30 -P 1048576 -- -root /usr/lib64/erlang -progname erl -- -home /var/lib/rabbitmq -- -pa /usr/lib/rabbitmq/lib/rabbit...
           ├─3438 /usr/lib64/erlang/erts-5.10.4/bin/epmd -daemon
           ├─4151 inet_gethost 4
           └─4152 inet_gethost 4

Warning: Journal has been rotated since unit was started. Log output is incomplete or unavailable.

[root@wlan101 ~]# rabbitmqctl status
Status of node rabbit@h3ciotise ...
Error: unable to connect to node rabbit@h3ciotise: nodedown

DIAGNOSTICS
===========

attempted to contact: [rabbit@h3ciotise]

rabbit@h3ciotise:
  * unable to connect to epmd (port 4369) on h3ciotise: nxdomain (non-existing domain)


current node details:
- node name: rabbitmqctl1544@wlan101
- home dir: /var/lib/rabbitmq
- cookie hash: a0GkobhKylt1YVgKhg9gJg==

[root@wlan101 named]# ps aux | grep rabbitmq
rabbitmq  2390  3.0  0.1 2623856 114204 ?      Ssl  Feb26 440:19 /usr/lib64/erlang/erts-5.10.4/bin/beam.smp -W w -K true -A30 -P 1048576 -- -root /usr/lib64/erlang -progname erl -- -home /var/lib/rabbitmq -- -pa /usr/lib/rabbitmq/lib/rabbitmq_server-3.3.5/sbin/../ebin -noshell -noinput -s rabbit boot -sname rabbit@h3ciotise -boot start_sasl -config /etc/rabbitmq/rabbitmq -kernel inet_default_connect_options [{nodelay,true}] -sasl errlog_type error -sasl sasl_error_logger false -rabbit error_logger {file,"/var/log/rabbitmq/rabbit@h3ciotise.log"} -rabbit sasl_error_logger {file,"/var/log/rabbitmq/rabbit@h3ciotise-sasl.log"} -rabbit enabled_plugins_file "/etc/rabbitmq/enabled_plugins" -rabbit plugins_dir "/usr/lib/rabbitmq/lib/rabbitmq_server-3.3.5/sbin/../plugins" -rabbit plugins_expand_dir "/var/lib/rabbitmq/mnesia/rabbit@h3ciotise-plugins-expand" -os_mon start_cpu_sup false -os_mon start_disksup false -os_mon start_memsup false-mnesia dir "/var/lib/rabbitmq/mnesia/rabbit@h3ciotise" -kernel inet_dist_listen_min 25672 -kernel inet_dist_listen_max 25672
rabbitmq  3438  0.0  0.0  33028   420 ?        S    Feb26   0:05 /usr/lib64/erlang/erts-5.10.4/bin/epmd -daemon
rabbitmq  4151  0.0  0.0  32992   468 ?        Ss   Feb26   0:00 inet_gethost 4
rabbitmq  4152  0.0  0.0  39312   884 ?        S    Feb26   0:00 inet_gethost 4
```


## background and versions
 deploy on single node as disc. can access manager webUI.
```
Name | File descriptors (?) | Socket descriptors (?) | Erlang processes | Memory | Disk space | Uptime | Type
-- | -- | -- | -- | -- | -- | -- | --
rabbit@h3ciotise | 1641024 available | 141829 available | 35241048576 available | 76MB25GB high watermark | 124GB48MB low watermark | 10d 4h | Disc Stats *
```


```
{running_applications,
     [{rabbitmq_management,"RabbitMQ Management Console","3.3.5"},
      {rabbitmq_web_dispatch,"RabbitMQ Web Dispatcher","3.3.5"},
      {webmachine,"webmachine","1.10.3-rmq3.3.5-gite9359c7"},
      {mochiweb,"MochiMedia Web Server","2.7.0-rmq3.3.5-git680dba8"},
      {rabbitmq_management_agent,"RabbitMQ Management Agent","3.3.5"},
      {rabbit,"RabbitMQ","3.3.5"},
      {os_mon,"CPO  CXC 138 46","2.2.14"},
      {inets,"INETS  CXC 138 49","5.9.8"},
      {mnesia,"MNESIA  CXC 138 12","4.11"},
      {amqp_client,"RabbitMQ AMQP Client","3.3.5"},
      {xmerl,"XML parser","1.3.6"},
      {sasl,"SASL  CXC 138 11","2.3.4"},
      {stdlib,"ERTS  CXC 138 10","1.19.4"},
      {kernel,"ERTS  CXC 138 10","2.16.4"}]},
 {os,{unix,linux}},
 {erlang_version,
     "Erlang R16B03-1 (erts-5.10.4) [source] [64-bit] [smp:6:6] [async-threads:30] [hipe] [kernel-poll:true]\n"},

[root@wlan101 named]# cat /etc/redhat-release
CentOS Linux release 7.0.1406 (Core)
[root@wlan101 named]# uname -a
Linux wlan101 3.10.0-123.el7.x86_64 #1 SMP Mon Jun 30 12:09:22 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
[root@wlan101 named]#
```

## hosts /hostname
```
[root@wlan101 named]# more /etc/hosts
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.30.254.1 172.30.254.1
[root@wlan101 named]# more /etc/hostname
wlan101
```
```
[root@wlan101 named]# ll /etc/named.rfc1912.zones
-rw-r-----. 1 root named 1147 Feb  9 11:15 /etc/named.rfc1912.zones
[root@wlan101 named]# more /etc/named.rfc1912.zones
// named.rfc1912.zones:
//
// Provided by Red Hat caching-nameserver package
//
// ISC BIND named zone configuration for zones recommended by
// RFC 1912 section 4.1 : localhost TLDs and address zones
// and http://www.ietf.org/internet-drafts/draft-ietf-dnsop-default-local-zones-02.txt
// (c)2007 R W Franks
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

zone "localhost.localdomain" IN {
	type master;
	file "named.localhost";
	allow-update { none; };
};

zone "localhost" IN {
	type master;
	file "named.localhost";
	allow-update { none; };
};

zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" IN {
	type master;
	file "named.loopback";
	allow-update { none; };
};

zone "1.0.0.127.in-addr.arpa" IN {
	type master;
	file "named.loopback";
	allow-update { none; };
};

zone "0.in-addr.arpa" IN {
	type master;
	file "named.empty";
	allow-update { none; };
};

zone "wlan101" IN {
        type master;
        file "named.wlan101";
        allow-update { none; };
};
zone "h3ciotise" IN {
        type master;
        file "named.h3ciotise";
        allow-update { none; };
};
[root@wlan101 named]#
```

Thank you for your time.

Team RabbitMQ uses GitHub issues for specific actionable items engineers can work on. GitHub issues are not used for questions, investigations, root cause analysis, discussions of potential issues, etc (as defined by this team).

We get at least a dozen of questions through various venues every single day, often light on details.
At that rate GitHub issues can very quickly turn into a something impossible to navigate and make sense of even for our team. Because GitHub is a tool our team uses heavily nearly every day, the signal/noise ratio of issues is something we care about a lot.

Please post this to [rabbitmq-users](https://groups.google.com/forum/#!forum/rabbitmq-users).

Thank you.

An `nxdomain` is non-ambiguous. We are not aware of any cases where it would be masking a different issue. You can customise [hostname resolution using a special file](http://erlang.org/doc/apps/erts/inet_cfg.html) a great deal with the Erlang VM, without touching DNS or the hosts file.