TLS certificate with long validity results in `badarith` when querying `/api/health/checks/certificate-expiration/1/months`

### Describe the bug

Because of reasons (tm) we have a TLS certificate with an extremely long validity (and also signed by a CA that has that same validity period), namely:

```
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            2d:b6:9b:eb:04:7d:ad:32:d8:ae:3b:4d:58:02:5c:af:fe:59:cb:3c
        Signature Algorithm: sha512WithRSAEncryption
        Issuer: CN = RabbitMQ Example CA
        Validity
            Not Before: Jan  1 00:00:00 1970 GMT
            Not After : Dec 31 23:59:59 2099 GMT
        Subject: CN = rabbitmq.example.org
        ...
```

When you now query the health check API for certificate expiration, you receive a HTTP 500 response, without any content.
In the logs of RabbitMQ, this crash / traceback is printed:

```
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>   crasher:
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     initial call: cowboy_stream_h:request_process/3
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     pid: <0.18355.14>
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     registered_name: []
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     exception error: an error occurred when evaluating an arithmetic expression
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in operator  div/2
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>          called as {error,"Certificate is not yet valid"} div 86400
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from calendar:gregorian_seconds_to_datetime/1 (calendar.erl, line 192)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:seconds_to_bin/1 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 176)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:'-expires_on_list/1-lc$^0/1-0-'/1 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 123)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:listener_expiring_within/2 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 115)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:'-to_json/2-fun-1-'/3 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 46)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from lists:foldl_1/3 (lists.erl, line 1355)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:to_json/2 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 45)
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     ancestors: [<0.18354.14>,<0.608.0>,<0.603.0>,<0.602.0>,<0.600.0>,
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>                   rabbit_web_dispatch_sup,<0.553.0>]
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     message_queue_len: 0
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     messages: []
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     links: [<0.18354.14>]
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     dictionary: []
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     trap_exit: false
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     status: running
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     heap_size: 6772
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     stack_size: 28
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>     reductions: 12142
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14>   neighbours:
2024-10-06 05:33:53.592394+00:00 [error] <0.18355.14> 
2024-10-06 05:33:53.594071+00:00 [error] <0.18354.14> Ranch listener {acceptor,{0,0,0,0,0,0,0,0},5673}, connection process <0.18354.14>, stream 1 had its request process <0.18355.14> exit with reason badarith and stacktrace [{erlang,'div',[{error,"Certificate is not yet valid"},86400],[{error_info,#{module => erl_erts_errors}}]},{calendar,gregorian_seconds_to_datetime,1,[{file,"calendar.erl"},{line,192}]},{rabbit_mgmt_wm_health_check_certificate_expiration,seconds_to_bin,1,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,176}]},{rabbit_mgmt_wm_health_check_certificate_expiration,'-expires_on_list/1-lc$^0/1-0-',1,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,123}]},{rabbit_mgmt_wm_health_check_certificate_expiration,listener_expiring_within,2,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,115}]},{rabbit_mgmt_wm_health_check_certificate_expiration,'-to_json/2-fun-1-',3,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,46}]},{lists,foldl_1,3,[{file,"lists.erl"},{line,1355}]},{rabbit_mgmt_wm_health_check_certificate_expiration,to_json,2,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,45}]}]
2024-10-06 05:33:53.594071+00:00 [error] <0.18354.14> 
```

### Reproduction steps

I am not entirely sure if this is caused by the CA validity or the certificate validity.
I have however generated an example CA certificate and an example certificate + key:

- <details><summary>`ca.crt`</summary>

  ```pem
  -----BEGIN CERTIFICATE-----
  MIIFKTCCAxGgAwIBAgIUH7VQuNxYNBgBFwUdwIsaMxLsXKgwDQYJKoZIhvcNAQEN
  BQAwHjEcMBoGA1UEAwwTUmFiYml0TVEgRXhhbXBsZSBDQTAgFw03MDAxMDEwMDAw
  MDBaGA8yMDk5MTIzMTIzNTk1OVowHjEcMBoGA1UEAwwTUmFiYml0TVEgRXhhbXBs
  ZSBDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAM8g9ETm4gXIgKNb
  MOX5PSz2tr5bX/4ZdXeVWBeFkvmQnwPJCoiDy0sDNN8LV80HzZQdy+Cwhq8cBXrR
  if8I+V3l29gJgujb/M7puWQtYpdGpxYf+HQlqgodYZHcbIc3AjeGrKj8t81uXff5
  chZ+vMnlMTedRxSitVO0cYeDRQHWIxg1e3E6IPCNKk8ltXRkEvBiOu88bHkm/k+E
  4V+RkHJsqqoOSQNx+T1qUSRni6VdoxP5dQRVlQSoOUBsq7fb5R7GWcJ832wzu6lx
  JrfC5K5NxpTQ4/EdmavAeg3T36OXqeGqFFViug75258OC5nNcWeCElgsCHK+3U4m
  Lh1+KXGQ5QsZN83f9zUaFeuhqKy/IoJ0zryTVS2TJDCkFFiqNQ/BAOA4VWabtFHi
  Bhq6fpnlMJh7wBYbm2nvhH/rFGcLDGHU+oSijPB2blprF2kDY3eEvSJ09vD1/bDM
  0VYI5/g0Pc2vMhKQ2QxWo3hq+2O2DxWeqVhZtbw+kZvb/By61KaF/934jSxacrI9
  nA8VF/te3CzIPqb1fM9P8aY1sXy4/0UxEiZNgTuVJs7br7I6O9EZDwEp/A1uUrD/
  pd90vxP5Xf81L4ongPvo9RKW88z2uCx9zPXGJUArSGxsGNh3NpCVlsDyjhVk5/Rf
  KxyRcDJse4yqj+aKu45VqQ6qsXnPAgMBAAGjXTBbMAwGA1UdEwQFMAMBAf8wCwYD
  VR0PBAQDAgIEMB0GA1UdDgQWBBRdDHqqBD+C0iKCBw1c38upxMQ12DAfBgNVHSME
  GDAWgBRdDHqqBD+C0iKCBw1c38upxMQ12DANBgkqhkiG9w0BAQ0FAAOCAgEAeWxQ
  U4PPqOW3d09pR5nImcmKwcxwWaBc9zboUqo+0toikI1NTcQ14fNEE6oXgieKxFGk
  nvJVPXE2FpEoJeuRPRNDiMCVHhkJea6zaRPyNhq8lmnKk+y46GmPiEBgaQCs18ye
  qDo4sTPnTCVxv2/rMPY2P+RHM6Bb9qd3VyQEll/Jz+e4mmS3p1kATz1Y5DQyZjvO
  hhlZGguIauSh+hsuY0TGLNfOW7oxEiVZTFeh7M84P451H6D/vQ0AJp0MmUDoxE7X
  qNNdrWv3hVJi+lPHTQk/oGMIleiHgxRwnDWydzGqIVJjbQqBr+a7giD/UuTY4Akt
  DbeHwNMO0gHh9RJBxGFp1SwJObzbvGEz6At/m9oDbOSvdS3DWe+MFgnrwIx6Gdmc
  zhUo9silIdqNV945EmjG4Ze52hN0d52IpdeIb4CD4tj0MMkpsyDg7JnrYsXaMgHB
  31I4PkdF40GuJ1SWRMGGtJwYUCYSBDkVQexTC6v+LWIQyYNgOpgIMkonTJFg4PQ4
  4MtQstxrGpmzNUc40Rcwx6m2TW4orM7Gg1w6qJQhWHxBFWboGYvOvjSHscjfZMfZ
  tdl96b5xVd8SRfO+fzwRQD8mIS1IhMwmLGQ0nfWBzQPmyizk0IgOZntpBa+vOG5T
  3D6rVmSoeDY6s9Fq1VAckUPnPIUVC2IIa15OG8Y=
  -----END CERTIFICATE-----
  ```
  </details>
- <details><summary>`server.crt`</summary>

  ```pem
  -----BEGIN CERTIFICATE-----
  MIIFmTCCA4GgAwIBAgIULbab6wR9rTLYrjtNWAJcr/5ZyzwwDQYJKoZIhvcNAQEN
  BQAwHjEcMBoGA1UEAwwTUmFiYml0TVEgRXhhbXBsZSBDQTAgFw03MDAxMDEwMDAw
  MDBaGA8yMDk5MTIzMTIzNTk1OVowHzEdMBsGA1UEAwwUcmFiYml0bXEuZXhhbXBs
  ZS5vcmcwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDm5G/f+FSxgv5c
  6x9RneFzF+KFs6Z2tkrkA2hx94cS6TQgprtL28WeEFTjglbUs2LNgkbbS9ZIVfo6
  /gcGQbjMije84+B4PYG+VZJRvpcDAXha1TQw+LHepF7ORJilxpk+q7qhTMX3JW87
  JKuCZgxGbQjuuZ+jpvavclVBrFWZ8+QXsnTuN/16/KGFctAUzfUZOD/RL7zA3LRl
  7c123ROUesffZjTk2AODcnQI8lnLLfgEdhAYl/jVZjF617y7Fk3JaAhKJuIjo9uN
  EaheAx9qSgjciKRWzz7JCXUG+lZrpwU1GzA1t0Ja+VGHXvxTCnNUq0Eng60Ahvv2
  0VXnipn84lxlBL8a3FEIbV36ixE79KnaTSajYp68JAuOIinq+wHV8RdnsMS1mc60
  evzBl9XVBLE41TSNGWDssNjMPOJCJRWs6CPqp0CRMfZy5C99vSumXOo6aupCrRXD
  wVkhYVh8bE6xyy6Jpn+7o7qhYoXOez/3KfIxTzx0Tx+7Rjcwa2ck6LehocXfZxxV
  NMsI8tOTcD2gGXqsx4sblg8+2QtHlFmwqKxshIm09NBCY8ojYoqgHEdh75MmvPbr
  9FkmVKUPa6Am7jDpApoQWVO9B8qENLGu5Bz4RLybjIFrDf/BkdVOwF2VqCCZXspY
  hSFN8RGfz3RVGN2CFAKu3Js09Z/rIQIDAQABo4HLMIHIMAkGA1UdEwQCMAAwCwYD
  VR0PBAQDAgWgMBMGA1UdJQQMMAoGCCsGAQUFBwMBMB0GA1UdDgQWBBQZQemqrBL3
  Kwu1EDSOSjNu2xOeKzBZBgNVHSMEUjBQgBRdDHqqBD+C0iKCBw1c38upxMQ12KEi
  pCAwHjEcMBoGA1UEAwwTUmFiYml0TVEgRXhhbXBsZSBDQYIUH7VQuNxYNBgBFwUd
  wIsaMxLsXKgwHwYDVR0RBBgwFoIUcmFiYml0bXEuZXhhbXBsZS5vcmcwDQYJKoZI
  hvcNAQENBQADggIBAH2nAJl57u69EGFuzH5QFEQ6CJ3SLvYgpwhkataCrE8UKD4G
  ydVIyMUAsb+jNREBc5iRayUF99aJXsxVXg4CarGh/wWnpsuUkbKxCIs+t3M5tVKX
  knIVx/4B9Uv2SMbni1/FdzC9X/Ujx2OPYTaCpxhFxqzSANrSmVeS9zNhg7J0NE1B
  x7/mWbTKqJT8yFjs0wsewfUhp0UAPRiOvbtcyOFrKXFQRp3dLfs6AftghF8Y7/BP
  oJCCZ7G4+zBqNR1SJ3gJiMj4pZ5csEWvEFlnvT3twVA/SzlXWFrOHeoDVSSdEXDC
  cL2LaqJ5nzVB9G4sE0sufgb7/gBXesrr+yKlaS9iP+bgSmGi/zDbEVJCdQyWeolI
  1fokvqdjffeyr3TCwes5xkykY1vB/JJ0qqAW1K2FZwQist1GDZgecIWxO6zvFZ7O
  95i8B6i4IGrT5jPYMLyLzgzAb2MBYzCccAZkGedmYnVNHi0vND8MLnt3CZHS48A1
  rTl0/WA6920EWJEqDSZsXbwO5eB6V5l4v2GlG8FzKAEnkzeXbdxKsXnxXlxQg07I
  45UIVcrGP/vOAy5mlTHQjspB8YqPXx6JoHgMvWHMpRcrUZb1GJBqT+U2sG+4dh+w
  1bykhZokWborXY1q7Xdfp18qYWQNfbHOg6l6M1q5bqLPWY77wX09JQGNQPa3
  -----END CERTIFICATE-----
  ```
  </details>
- <details><summary>`server.key`</summary>

  ```pem
  -----BEGIN PRIVATE KEY-----
  MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQDm5G/f+FSxgv5c
  6x9RneFzF+KFs6Z2tkrkA2hx94cS6TQgprtL28WeEFTjglbUs2LNgkbbS9ZIVfo6
  /gcGQbjMije84+B4PYG+VZJRvpcDAXha1TQw+LHepF7ORJilxpk+q7qhTMX3JW87
  JKuCZgxGbQjuuZ+jpvavclVBrFWZ8+QXsnTuN/16/KGFctAUzfUZOD/RL7zA3LRl
  7c123ROUesffZjTk2AODcnQI8lnLLfgEdhAYl/jVZjF617y7Fk3JaAhKJuIjo9uN
  EaheAx9qSgjciKRWzz7JCXUG+lZrpwU1GzA1t0Ja+VGHXvxTCnNUq0Eng60Ahvv2
  0VXnipn84lxlBL8a3FEIbV36ixE79KnaTSajYp68JAuOIinq+wHV8RdnsMS1mc60
  evzBl9XVBLE41TSNGWDssNjMPOJCJRWs6CPqp0CRMfZy5C99vSumXOo6aupCrRXD
  wVkhYVh8bE6xyy6Jpn+7o7qhYoXOez/3KfIxTzx0Tx+7Rjcwa2ck6LehocXfZxxV
  NMsI8tOTcD2gGXqsx4sblg8+2QtHlFmwqKxshIm09NBCY8ojYoqgHEdh75MmvPbr
  9FkmVKUPa6Am7jDpApoQWVO9B8qENLGu5Bz4RLybjIFrDf/BkdVOwF2VqCCZXspY
  hSFN8RGfz3RVGN2CFAKu3Js09Z/rIQIDAQABAoICAAcvtv4ZyzEKaoMj2+hJz+Zc
  9cAplK9lm+eEf6MeDCzRG1ek0nfy+C/XD31UfwIrYl9F6pF3k8zRxQvbzWyRbebX
  3avZ/90rAbdiqT8BsQH3JFk9zfXapInRREe+Dm48EMr791jlfDsY0pR2eLjo484e
  JXgHFdC3KQue6GGdGb3Ev79JEg1tqrMOp+Xw0K8rfEraDr2ipoi6/DzSVC6auCBL
  J56f0Y4J3Y1Uage/qBg3bw/C4o9eM4pMBJNvoY0rjYvZdBPMXNK1J+eeunnRAqpO
  CzNdNJg+TRSR+cixnZaUlTuChCA34WKjF4ZTtR2a83bM+b/45jdgL1/bdh84/iZR
  fEOLAJgNMDPu46iGOugFKkQfscz7iItH4jAARWwhOjvup/LmLdgLdo92DiIB2P4N
  ba920aYS4NoEutH9IQ1RHKaOzFXbIFd4CS4ArN83uDjIRRsKN4YwNomAuv+N7ehd
  h/7PEsG6/a0nvjcmc+H4UjAM0Xv+LFlvFOG1lpKm8U6nxmYfK/vvk0yM2EwPCx6/
  Ugh7xkde3GXLXTpse30fTq1n3hL9I2fYf9FIWaa5SFzmP5eJHZPgI/vZQEzR0FTe
  DoXW9QOL8R0+9Zl5+1fissR6cht6+HCeK/hmCX65H24IGfz2Cyi6i7d6P83VQ0k2
  s0Dr7cACMvYSZorYt2WRAoIBAQD46abjRVo0YQ4gNUWPwwwzFmOptJnkFKw9ywT7
  KOFkEaOzbClrkguMNWFYAF9G33ewGKkNL5AeexWSdO18QaOPXSLElE0lnlNOV18b
  tv2T+cA7rCO8g766cXCSGS9ZRqPThX24ntBRHiIailjKOk3tQOX41CIqTZaaDxvg
  UMAg66KmSxfeA8sHKmzIA5KGWx8KWuoFjfms6hfPC4qLOUBEDrzYgdyrK6JOknX6
  Q5A7/zid1LEm6OwVTdd0zm2hM/fvh++UTBhVGt4VAgcJCEOfKesGDpTIQwIUFYGw
  f5qfPjRbF6NNsnQCp2V78ZjwIIqhao9ooTekfo2H9u657WyNAoIBAQDtd27UeaU5
  L+sne/avBWn0i1hFlD1I7xCS3BKrrq6+oG6SOOqE3CPNXbh3JgsE6GvV/y+bs/PA
  ktiNQRDibsOc1BDsJwovDawokP22fUh9M4r0DPQAiKbFJOAKQ5l2AIo6abqG+1q8
  fkVyYD0qZpucz5sRcuW/DrFM9WozicmiXUm/d8VhzXyfS1NCepeDfYaw8EPYMK29
  dbwLgsonE4PjTnPITL3hwHGXZimQcJPWKXB0Ee4dsPUJUa511ZzMzKXuepKujRNs
  7kSBdVLzb5zsclt5B0thRqwLFdISL/YGRmK4AILHDNWz7q/r4kL9IvkRqonGl1Aj
  yq3F0Wyav1XlAoIBAAprBSAoC/F7SnMQp7uvpzgQLNWyiGpibx8a+zdj66MbleVx
  ln45G6Cfr1ZWlaZKviCxt4mkvvx3nFyH5lS4Dpd2h3kA2AXGDaiOwZ1QWGa0Ilad
  CtXeEcKN8u86fJ/Y9AxrXuq2QvPSNg00UykLra1LdRSoFFH+81m5XipSVuhJ1IHv
  TK1vLTU8klcAx0Y2VCND0N2wpo2VMq/oxMC1AbqXf1H0hX7okZ+GQ8fYwhWwxfbd
  Kxj80LzHiEgMR8xid3MgFmf3k2Ekgb0RW6gGH4Zu47ZaL+H94/1hNQ9lF9yoZtqV
  L7GV0YM27Gl2oDcUtZix9BSmAsUwws25CR7hEBUCggEBANxxnhJjJu2SvWM3IgbS
  KM1aukRFXCsjuygKYs675/6Q4nSdn6Bc2GOiWEdLqrkQpmLPdbu+b07bQ2rF902s
  86zX9Sm1CDAsKiCykMTjQvLvcVQj3jPMp7ymAdGldYXk9G1Lj1wVZONM+V03WDDP
  djA5TcQB/KPDmPZPcRqNFADFR1wWbMbhQoqCG7XAJn1rfykssl60ueUCseGhtdZW
  uH3Aa52LGE7FHu4kaftrduI+L+Wga4NmreLL0AAVoG1CodtkMF0YG+touXHQn4Pb
  njql4qLVEbYpLDdSN2So32Rt3ODhoIX2NUDHGMsKjZN+7ubmgOY5u6yuT2kvg/mY
  G70CggEANwi4GCTA3wgUq8lDAh2HhaRxp2OBL64cu5JSYW7V+wDywo7hLJYrHy/1
  Pjq1aQN6min1c7MvASoFHnM1WJK3bcbQFa0Avpk4f88wLoTbsw15HpuD5GeAMjB6
  O3Jl7eMZ3ZJzX5m1twdQgBoCheC0ENAEjxNbw0sr3y7jw9sp5Z/nUck+FsRVLV31
  OdMCWhOiDipxnyqZxYWZmmU/secuTjFecIWad0W5ys7lnzCL8wDGL8+ImKQJSa53
  g2qxlqNMo329z+dvhLxxLjy1xiCQh1479w+HMtau5chOE78JxgJGDC7wQoX41H6P
  jM4F8+WkAgd+Do4SYPH5bBpSf+V6FA==
  -----END PRIVATE KEY-----
  
  ```
  </details>

1. I am referencing these three files in `rabbitmq.conf` like this:
   ```
   ssl_options.cacertfile = ca.crt
   ssl_options.certfile   = server.crt
   ssl_options.keyfile    = server.key
   ```
1. When you now try querying the API health check for certificate expirations, you get:
   ```sh
   $ curl --verbose --user admin:password http://localhost:5673/api/health/checks/certificate-expiration/1/months
   *   Trying 127.0.0.1:5673...
   * Connected to localhost (127.0.0.1) port 5673 (#0)
   * Server auth using Basic with user 'admin'
   > GET /api/health/checks/certificate-expiration/1/months HTTP/1.1
   > Host: localhost:5673
   > Authorization: Basic ...
   > User-Agent: curl/7.81.0
   > Accept: */*
   > 
   * Mark bundle as not supporting multiuse
   < HTTP/1.1 500 Internal Server Error
   < content-length: 0
   < 
   * Connection #0 to host localhost left intact
   ```

### Expected behavior

Not triggering a HTTP 500 _and_ not listing the certificate as being about to expire.

### Additional context

_No response_

Here is where the `Certificate is not yet valid` error message is generated:

https://github.com/rabbitmq/rabbitmq-server/blob/main/deps/rabbitmq_management/src/rabbit_mgmt_wm_health_check_certificate_expiration.erl#L137-L161

@hvt you've probably found an edge case that the code misses. I'll investigate this when I can find time.

What happens if your certs have a slightly later start time, like epoch time plus 1 second?

> What happens if your certs have a slightly later start time, like epoch time plus 1 second?

At first I thought it was a division by zero. So I already tried creating a certificate (and CA) with a `Not Before` of `Jan  1 00:00:01 1970 GMT`. That failed as well, with the same error.

The code computes the difference between dates in seconds, so something may not be accounting for overflow/wrap around in one of the calendar modules.

In some if not all cases we could use minutes or hours. This health check is meant to be run e.g. every day, not every hour or minute.

@lukebakken  i think the issue is that time_str_2_gregorian_sec returns 65322979200 (one century more) there is an error because in rfc5280

https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.5.1

is stated:
> The universal time type, UTCTime, is a standard ASN.1 type intended  
> for representation of dates and time.  UTCTime specifies the year  
> through the two low-order digits and time is specified to the  
> precision of one minute or one second.  UTCTime includes either Z  
> (for Zulu, or Greenwich Mean Time) or a time differential.  
>  
> For the purposes of this profile, UTCTime values MUST be expressed in  
> Greenwich Mean Time (Zulu) and MUST include seconds (i.e., times are  
> YYMMDDHHMMSSZ), even where the number of seconds is zero.  Conforming  
> systems MUST interpret the year field (YY) as follows:  
>  
>    Where YY is greater than or equal to 50, the year SHALL be  
>    interpreted as 19YY; and  
>  
>    Where YY is less than 50, the year SHALL be interpreted as 20YY.

but it seems like that the sliding_year_window function (called from time_str_2_gregorian_sec) from [`pubkey_cert.erl`](https://github.com/erlang/otp/blob/d4c78e0414664564ae29d4d6a09bbaf7d2c2110b/lib/public_key/src/pubkey_cert.erl#L1379-L1392) calculates this value factoring in the current year:

```erlang
%% Sliding window algorithm to calculate the time.
%% The value is set as taking {Y1, Y2} from the first two digits of
%% current_date - 50 or current_date - 49.
sliding_year_window([Y1,Y2,M1,M2,D1,D2,H1,H2,M3,M4,S1,S2,Z]) ->
    {{CurrentYear,_, _}, _} = calendar:universal_time(),
    LastTwoDigitYear = CurrentYear rem 100,
    MinYear = mod(LastTwoDigitYear - 50, 100),
    YearWindow = case list_to_integer([Y1,Y2]) of
                     N when N < MinYear -> CurrentYear + 50;
                     N when N >= MinYear -> CurrentYear - 49
                 end,
    [Year1, Year2] = integer_to_list(YearWindow div 100),
    [Year1,Year2,Y1,Y2,M1,M2,D1,D2,H1,H2,M3,M4,S1,S2,Z].
    ...
```

so since 2021 a value 70 for YY returns 2070 instead of 1970
you can test this behavior when setting your systemtime to smthg around 2021

here are the logs with the utc time and the resulting gregorian seconds when using the current systemtime

```
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.680431+00:00 [warning] <0.622.0> Certificate is not yet valid. Start time: 65322979200 NotBefore: {utcTime,
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.680431+00:00 [warning] <0.622.0>                                                                   "700101000000Z"} NotAfter: {generalTime,
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.680431+00:00 [warning] <0.622.0>                                                                                               "20991231235959Z"}
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681024+00:00 [warning] <0.622.0> Certificate is not yet valid. Start time: 65322979200 NotBefore: {utcTime,
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681024+00:00 [warning] <0.622.0>                                                                   "700101000000Z"} NotAfter: {generalTime,
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681024+00:00 [warning] <0.622.0>                                                                                               "20991231235959Z"}
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>   crasher:
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     initial call: cowboy_stream_h:request_process/3
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     pid: <0.622.0>
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     registered_name: []
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     exception error: an error occurred when evaluating an arithmetic expression
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in operator  div/2
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>          called as {error,"Certificate is not yet valid"} div 86400
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from calendar:gregorian_seconds_to_datetime/1 (calendar.erl, line 296)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:seconds_to_bin/1 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 179)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:'-expires_on_list/1-lc$^0/1-0-'/1 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 125)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:listener_expiring_within/2 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 117)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:'-to_json/2-fun-1-'/3 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 46)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from lists:foldl_1/3 (lists.erl, line 2151)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>       in call from rabbit_mgmt_wm_health_check_certificate_expiration:to_json/2 (rabbit_mgmt_wm_health_check_certificate_expiration.erl, line 45)
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     ancestors: [<0.621.0>,<0.591.0>,<0.589.0>,<0.588.0>,<0.586.0>,
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>                   rabbit_web_dispatch_sup,<0.565.0>]
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     message_queue_len: 0
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     messages: []
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     links: [<0.621.0>]
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     dictionary: []
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     trap_exit: false
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     status: running
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     heap_size: 6772
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     stack_size: 29
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>     reductions: 15683
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0>   neighbours:
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.681180+00:00 [error] <0.622.0> 
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.710220+00:00 [error] <0.621.0> Ranch listener {acceptor,{0,0,0,0,0,0,0,0},15672}, connection process <0.621.0>, stream 1 had its request process <0.622.0> exit with reason {badarith,[{erlang,'div',[{error,"Certificate is not yet valid"},86400],[{error_info,#{module => erl_erts_errors}}]},{calendar,gregorian_seconds_to_datetime,1,[{file,"calendar.erl"},{line,296}]},{rabbit_mgmt_wm_health_check_certificate_expiration,seconds_to_bin,1,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,179}]},{rabbit_mgmt_wm_health_check_certificate_expiration,'-expires_on_list/1-lc$^0/1-0-',1,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,125}]},{rabbit_mgmt_wm_health_check_certificate_expiration,listener_expiring_within,2,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,117}]},{rabbit_mgmt_wm_health_check_certificate_expiration,'-to_json/2-fun-1-',3,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,46}]},{lists,foldl_1,3,[{file,"lists.erl"},{line,2151}]},{rabbit_mgmt_wm_health_check_certificate_expiration,to_json,2,[{file,"rabbit_mgmt_wm_health_check_certificate_expiration.erl"},{line,45}]}]}
rabbitmq-tls-long-cert  | 2025-06-21 18:46:13.710220+00:00 [error] <0.621.0> 

```

after changing the systemtime i have no errors in the logs and get

`{"status":"ok"}` after `curl -u guest:guest http://localhost:15672/api/health/checks/certificate-expiration/1/months`




but however if the function would be rfc 5280 conform the notAfter value would return 1970 as well so i guess the problem is that we only have a utc time string when decoding and not something with the year and century (YY instead YYYY)

but, i think the real problem is that we only get the utctime when decoding the certificate, which only has YY and not year and century YYYY

@michaelklishin Thanks for your reply, i was unsure if the function does need to be rfc conform so i closed it.

> Using the YYYY format for years sounds fine to me. And demonstrates how much of an edge case this whole issue is.

A utctime string is passed in which just has YY, so if the values are in past or future centurys the method will be a bit unpredictable, but i also think that this is an edgecase and can be easily avoided if some more recent notBefore would be used, was just interested what the problem was.

Took a look into this today. The 500 actually comes down to `rabbit_mgmt_wm_health_check_certificate_expiration:expires_on_list/1`:

1. **The 500 crash:** When `cert_validity/1` returns an error tuple inside the list (like `{error, "Certificate is not yet valid"}`), `expires_on_list/1` treats every element as integer seconds and passes it straight into `calendar:gregorian_seconds_to_datetime/1`. That crashes with `badarith` trying to `div 86400` on the tuple. The CLI counterpart (`RabbitMQ.CLI.Core.Listeners.expires_on/1`) already guards against this, but the HTTP API handler missed it.
2. **The 1970 date interpretation:** OTP's `pubkey_cert:time_str_2_gregorian_sec/1` uses a sliding 100-year window, which interprets `"70"` as 2070. Following RFC 5280 §4.1.2.5.1, `UTCTime` with `YY >= 50` should be parsed as `19YY`.

Combining a defensive pattern match in `expires_on_list/1` with RFC 5280 `UTCTime` handling fixes the crash and lets 1970 certs evaluate cleanly.

Happy to put together a PR with tests if that works for you guys!